.banner{
     background: rgba(229, 84, 115, 0.10);
     width: 100%; 
     height: 850px;
      padding: 50px 60px 0px 100px;
     
     display: flex; 
     margin: 0% ;
     /* justify-content: space-between; */

   
 
}

.banner-info{
    padding: 40px 200px;
}
.banner-title{
    font-size: 80px;
    color: #272727;
   font-family: Lato;
   font-weight: 800;
    /* padding: 20px 40px;  */
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
   font-family: Lato;
   font-size: 18px;
   font-weight: 400;
   /* line-height: 30px;  */
    /* padding-right:80px; */
}

.banner-btn{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 20px 43px;

}

/* main section */
.feature{
    text-align: center;
    margin: 100px;
}
.main-banner{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
margin-top: 100px;
width: 100%;
height: 620px;
padding: 50px 60px 0px 100px;

}
.main-banner-info{
text-align: center;
padding: 200px 300px;

}
.main-banner-title{

    color: #272727;
    font-family: Lato;
    font-size: 40px;
   
}
.spann{
    color: #E55473;
}
 .main-img{
    
    /* width: 318px; */
    /* height:420px; */
     padding: 100px;
} 
/* instra part */
.instagram{
    text-align: center;
    margin-top: 60px;
}
section>h3{
    padding: 0px;
}

.section-img{
    display: flex;
    margin: 130px 400px;
    align-items: center;
    
}
section>img{
    margin: 8px;
}
.form-info{
    background-image: url('../image/rectangle9.png');
    width: 1440px;
    height: 449px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 40px;
    margin: 100px 400px;
    align-items: center;
}
.email-form{
    padding: 0px 10px;
     border-radius: 8px; 
    background color:#FFF;
    border:none;
    width: 700px;
    height: 58px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    margin-right: 10px;
   }
.btn{
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
   

}
footer{
    width:100%;
   height: 200px;
   background: #111010;
   text-align: center;
    padding: 100px;
}
.footer-title{
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    /* padding-bottom: 1px; */

}
.flower{
    color: #E55473;
    font-family: Lato;
   font-size: 48px;

}
.footer-describtion{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;

}

.footer-des{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
padding-bottom: 100px;
}